body {
    background-color: black;
    text-align: center;
}

h1 {
font-family: Verdana;
font-weight: normal;
font-size: 50px;
color:white;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-family: Verdana;
    font-size: 21px;
    color: gray;

}

.download-link {
    color:aquamarine;
    font-size: 16px;
}

.copyright {
    text-align: right;
}